/*!
 * Start Bootstrap - Creative v5.0.2 (https://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE)

 old main color: 735751
 */

.modal {
    text-align: center;
    /* Center the modal window. */
    overflow: auto;
}

.modal-dialog {
    width: auto;
    margin: 30px auto;
    display: inline-block;
    overflow: auto;
}

.modal-open {
    padding-right: 0 !important;
    overflow: auto;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in 3s;
    transition: all 0.5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1);
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 9px);
    transform: rotate(-45deg);
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

body,
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.nav-nolink {
    display: block;
    padding: 0.5rem 1rem;
}

body {
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #735751;
}

hr.light {
    border-color: #fff;
}

a {
    color: #735751;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
    color: #735751;
    text-decoration: none;
}

.leather {
    background: url("../img/aboutBG.jpg") !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.bg-primary {
    background-color: #735751 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #735751;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #735751;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #735751;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink.active,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #735751 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-nolink {
        padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-nolink,
    #mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, 0.9);
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-nolink:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-nolink:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #fff;
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #735751;
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #735751;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-nolink,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-nolink:focus,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-nolink:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-nolink:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #735751;
    }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

.parallax {
    background-image: url("../img/header.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../img/header2.jpg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    cursor: pointer;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(165, 137, 126, 0.322)/* #A78A7F rgba(240, 95, 64, 0.9);*/
    ;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #735751 !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.btn-space {
    margin-right: 80px;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #735751;
    border-color: #735751;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
}

.btn-primary:active,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #a78a7f/* rgba(240, 95, 64, 0.5)*/
    !important;
    box-shadow: 0 0 0 0.2rem #a78a7f/*rgba(240, 95, 64, 0.5)*/
    !important;
}

#secondNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
}

#secondNav .navbar-brand {
    color: #735751;
}

#secondNav .navbar-brand:focus,
#secondNav .navbar-brand:hover {
    color: #735751;
}

#secondNav .navbar-nav>li.nav-item>a.nav-link,
#secondNav .navbar-nav>li.nav-item>a.nav-nolink,
#secondNav .navbar-nav>li.nav-item>a.nav-nolink:focus,
#secondNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
}

#secondNav .navbar-nav>li.nav-item>a.nav-link:hover,
#secondNav .navbar-nav>li.nav-item>a.nav-nolink:hover,
#secondNav .navbar-nav>li.nav-item>a.nav-nolink:focus:hover,
#secondNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #735751;
}

#secondNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #735751;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#secondNav .navbar-brand:focus,
#secondNav .navbar-brand:hover {
    color: #735751;
}

.credits {
    float: center;
}